.container-character {
	color: white;
	max-width: var(--max-w);
	margin: 40px auto;
	width: 95%;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding: 30px 35px;
	box-sizing: border-box;
box-shadow: -3px 18px 29px 0px rgba(191,191,191,0.1);
-webkit-box-shadow: -3px 18px 29px 0px rgba(191,191,191,0.1);
-moz-box-shadow: -3px 18px 29px 0px rgba(191,191,191,0.1);
}
.container-character .detail-character {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container-character .detail-character .name {
	font-family: "Arial";
	font-size: 42px;
	color: black;
	-webkit-text-stroke: 1px yellow;
}
.container-character .detail-character .extra-detail {
	display: grid;
	box-sizing: border-box;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}
.container-character .detail-character .extra-detail .bg-homeworld {
	transition: .5s;
	background-color: rgba(130, 130, 130, 0.1);
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	min-height: 180px;
	max-height: max-content;
	margin: 10px;
	box-sizing: border-box;
}
.container-character .detail-character .extra-detail .bg-homeworld h3, h3 span {
	font-family: "Poppins";
}

.gender-text {
	font-size: 32px;
	color: white;
	font-family: "Poppins";
}
/*======================RESPONSIVE/*======================*/
@media (max-width: 1150px) and (min-width: 641px){
	.container-character .detail-character .extra-detail {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 640px){
.container-character .detail-character .extra-detail .bg-homeworld {
	padding: 20px;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}
.container-character .detail-character .extra-detail {
	grid-template-columns: repeat(1, auto);
}
}
