.container-specie {
	transition: .5s;
	background-color: rgba(130, 130, 130, 0.1);
	border-radius: 10px;
	padding: 20px;
	min-width: 330px;
	max-width: max-content;
	min-height: 180px;
	max-height: max-content;
	margin: 10px;
	box-sizing: border-box;
}
.container-specie:hover {
	transition: .3s;
	transform: scale(1.05);
	background-color: rgba(130, 130, 130, 0.2);
}
/*======================RESPONSIVE/*======================*/

@media (max-width: 600px){
	.container-specie {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 10px auto;
	width: 100%!important;
	max-width: 100%!important;
	box-sizing: border-box;
	}
}