.container-starship {
	position: relative;
	transition: .5s;
	background-color: rgba(130, 130, 130, 0.1);
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	min-height: 180px;
	max-height: max-content;
	margin: 10px;
	box-sizing: border-box;
}
.container-starship .bg-starship {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}
.container-starship h3 {
	font-family: 'Poppins';
}
.container-starship .bg-starship .btns-starships {
	margin-left: 15px;
}
.container-starship .bg-starship .btns-starships button {
	cursor: pointer;
	transition: .5s;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid yellow;
	color: yellow;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	margin: 0 5px;
}
.container-starship .bg-starship .btns-starships button:hover {
	transition: .3s;
	transform: scale(1.05);
}
.container-starship .bg-starship .btns-starships .disabled {
	transition: .5s;
	cursor: no-drop;
	opacity: 50%;
}

@media (max-width: 640px){
	.container-starship {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 10px auto;
	width: 100%;
	box-sizing: border-box;
	}
}