.container_filter {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--max-w);
	margin: 0 auto;
	align-items: center;
	padding-left: 20px;
}
.container_filter button {
	transition: .5s;
	cursor: pointer;
	border: 2px solid yellow;
	background: black;
	width: 180px;
	height: 40px;
	border-radius: 5px;
	color: yellow;
	margin: 0 5px;
	font-size: 16px;
	padding: 10px 15px;
	box-sizing: border-box;
}
.container_filter button:hover {
	transition: .3s;
	background: rgba(277, 277, 277, 0.3);
}
.container_filter select{
	border: 2px solid yellow;
	border-radius: 5px;
	font-size: 16px;
	background: black;
	color: yellow;
	width: 180px;
	height: 40px;
	box-sizing: border-box;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 5px;
}
.no-show {
	display: none;
}
.container-btn-menu {
	display: none;
}

/*BOTON PARA RESPONSIVE MENU*/
.btn-menu {
	position: absolute;
	z-index: 101;
	color: yellow;
	top: 250px;
	left:0;
	font-size: 30px;
}
.btn-menu-bg {
	position: absolute;
	width: 50px;
	height: 50px;
	left: -12px;
	display: flex;
	padding-right: 5px;
	align-items: center;
	box-sizing: border-box;
	justify-content: flex-end;
	background-color: black;
	border-top: 3px solid yellow;
	border-right: 3px solid yellow;
	border-bottom: 3px solid yellow;
	border-radius: 40%;
}

@media (max-width: 640px){
	.container-btn-menu {
		display: flex;
		box-sizing: border-box;
	}
	.xm-device {
		display: none;
	}
	.btn-menu-exit {
		position: fixed!important;
		box-sizing: border-box;
		top: 250px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
		background-color: black;
		border: 3px solid yellow;
		border-radius: 40%;
		animation: showBtnExit;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
	@keyframes showBtnExit {
		0% {
			left: 0;
		}
		100% {
			left: 88%;
		}
	}
	.sm-device {
		position: fixed;
		background: rgba(0, 0, 0, 0.8);
		border-right: 5px solid yellow;
		overflow-y: hidden;
		z-index: 100;
		top: 0;
		padding-bottom: 20px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		box-sizing: border-box;
		width: 93%;
		animation: showMenu;
		animation-duration: 0.5s;
	}
	@keyframes showMenu {
		0% {
			width: 0;
		}
		100% {
			width: 93%;
		}
	}
	.container_btn_filter {
		margin: 0 auto;
		width: max-content;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.container_btn_filter button {
		box-sizing: border-box;
		width: 100%;
	}
	.container_btn_filter select {
		width: 100%;
		box-sizing: border-box;
		height: 50px;
	}
}