.container_filter {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--max-w);
	margin: 0 auto;
	align-items: center;
	padding-left: 20px;
}
.container_filter button {
	transition: .5s;
	box-sizing: border-box;
	cursor: pointer;
	border: 2px solid yellow;
	background: black;
	width: max-content;
	border-radius: 5px;
	color: yellow;
	margin: 10px 5px;
	font-size: 18px;
	padding: 10px 15px;
}
.container_filter button:hover {
	transition: .3s;
	background: rgba(277, 277, 277, 0.3);
}
.container_filter select{
	border: 2px solid yellow;
	border-radius: 5px;
	font-size: 16px;
	background: black;
	color: yellow;
	width: max-content;
	box-sizing: border-box;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 5px;
}
.no-show {
	transition: .5s;
	display: none;
}
.container-btn-menu {
	display: none;
}

/*BOTON PARA RESPONSIVE MENU*/
.btn-menu {
	transition: .5s;
	position: absolute;
	z-index: 101;
	color: white;
	top: 25px;
	right: 25px;
	font-size: 36px;
}

@media (max-width: 600px){
	.container-btn-menu {
		transition: .5s;
		display: flex;
		box-sizing: border-box;
	}
	.xm-device {
	display: none;
	}
	.btn-menu-exit {
		transition: .5s;
		position: fixed!important;
		box-sizing: border-box;
	}
	.sm-device {
		position: fixed;
		background: rgba(0, 0, 0, 0.8);
		border-bottom: 5px solid yellow;
		overflow-y: hidden;
		z-index: 100;
		top: 0;
		width: 100%;
		padding-top: 13vh;
		padding-bottom: 20px;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		box-sizing: border-box;
	}
	.container_btn_filter {
		margin: 0 auto;
		width: max-content;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.container_btn_filter button {
		box-sizing: border-box;
		width: 100%;
	}
	.container_btn_filter select {
		width: 100%;
		box-sizing: border-box;
		height: 50px;
	}
}