form {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 44px;
		box-sizing: border-box;
}
form input {
	box-sizing: border-box;
	width: 250px;
	height: 100%;
	color: white;
	background: black;
	border-top: 3px solid yellow;
	border-left: 3px solid yellow;
	border-bottom: 3px solid yellow;
	border-radius: 10px 0px 0px 10px;
	border-right: none;
	padding-left: 20px;
	font-size: 19px;
}
form button {
	box-sizing: border-box;
	color: yellow;
	height: 100%;
	background: black;
	border-left: none;
	border-top: 3px solid yellow;
	border-right: 3px solid yellow;
	border-bottom: 3px solid yellow;
	border-radius: 0px 10px 10px 0;
	padding: 0 20px;
	cursor: pointer;
	font-size: 17.5px;
}
form button:hover {
	transition: .3s;
	background: rgba(277, 277, 277, 0.3);

}
form input:focus {
	outline: none;
	border-right: none;
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
}
form input:focus + button {
  border-left: none;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  color: white;
}
form .no-tap {
	cursor: no-drop;
}

@media (max-width: 640px){
	form {
		margin-top: 25px;
		width: 80%;
	}
}