@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
:root {
  --max-w: 1330px;
  --width-sm: 500px;
}
body {
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h2 {
  font-family: "Arial";
  font-size: 26px;
  color: black;
  -webkit-text-stroke: 1px yellow;
}
h3 span {
  font-size: 18px;
  font-weight: lighter;
}